/* General */
body{
  color: white;
  background: #1d1d33;
}

.mt1{
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mt3 {
  margin-top: 30px;
}
.mt4{
  margin-top: 40px;
}
.mt5 {
  margin-top: 50px ;
}

.button-red {
  background: #e83d5f;
  width: 248px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.button-red:hover{
  box-shadow: none;
}

.button-blue {
  background-color: #5f5dee;
  width: 248px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.button-blue:hover {
  box-shadow: none;
}


/* Header */
header{
  text-align: center;
}

.logo-texto{
  padding-top: 30px;
}


header .button-red{
  margin-right: 10px;

}

header .button-blue{
  margin-left: 10px;

}
/* body */
section h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.lessons-box{
  width: 100%;
  border: 1px solid white;
  border-radius: 30px;
  height: 700px;
}

.lessons-box h3{
  margin-top: 40px;
}

.atv{
  width: 181px;
  height: 103px;
  border-radius: 17px;
  background-color: #2c2c47;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.atv:hover{
  box-shadow: none;
}

.atv span{
  font-size: 36px;
  font-weight: 100px;
  line-height: 93px;
}
.atv span:after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: white;
  margin: -20px auto;
}



/* Footer */
footer{
  width: 100%;
  background: #5f5dee;
  height: 65px;
  position: absolute;
  left: 0;
  text-align: center;
  margin-top: 80px;
}

footer p {
  color: black;
  margin-bottom: 0px;
  line-height: 65px;
}

button[name="drop"] {
  cursor: pointer;
}

.drop-content {
  display: none;
  position: relative;
  left: 290px;
  top: 45px;
  width: 100px;
  border-radius: 20px;
}

.drop-content a {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.menu-drop:hover .drop-content {
  display: block;
}

.drop-content a:hover {
  background-color: #e83d5f;
  border-radius: 20px;

}

.drop-content {
  display: none;
  background-color: #e83d5f;
  position: absolute;
}

.menu-drop {
  position: relative;
}

.blue-about:hover{
  pointer-events:none;
}