/* General */
body{
  color: white;
  background: #1d1d33;
}

.button-red {
  background: #e83d5f;
  width: 248px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.button-red:hover{
  box-shadow: none;
}

.button-blue {
  background-color: #5f5dee;
  width: 248px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.button-blue:hover {
  box-shadow: none;
}


/* Header */
header{
  text-align: center;
}

.logo-texto{
  padding-top: 30px;
}


header .button-red{
  margin-right: 10px;

}

header .button-blue{
  margin-left: 10px;

}
/* body */
section h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.lessons-box{
  width: 100%;
  border: 1px solid white;
  border-radius: 30px;
  height: 1000px;
}

.lessons-box h3{
  margin-top: 40px;
}




/* Footer */
footer{
  width: 100%;
  background: #5f5dee;
  height: 65px;
  position: absolute;
  left: 0;
  text-align: center;
  margin-top: 80px;
}

footer p {
  color: black;
  margin-bottom: 0px;
  line-height: 65px;
}